/* ---- SUN ---- */

.sun {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;

    position: absolute;
    top: 30%;

    background: -moz-linear-gradient(top, #fff500, #f0d81c);
    background: -webkit-linear-gradient(top, #fff500, #f0d81c);
    background: linear-gradient(top, #fff500, #f0d81c);
    
    z-index: 3;
}

.sun:before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 80px;
    z-index: 2;
}

/* ---- CLOUDS ----- */

.cloud {
	width: calc(350px / 2); height: calc(120px / 2);
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #f2f9fe 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #f2f9fe 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #f2f9fe 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #f2f9fe 100%);

	
	border-radius: calc(100px / 2);
	-webkit-border-radius: calc(100px / 2);
	-moz-border-radius: calc(100px / 2);
	
	position: absolute;
    top: 30%;
    z-index: 4;
}

.cloud:after, .cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
}

.cloud:after {
    width: calc(100px / 2); height: calc(100px / 2);
    top: calc(-50px / 2); left: calc(50px / 2);

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.cloud:before {
    width: calc(180px / 2); height: calc(180px / 2);
    top: calc(-90px / 2); right: calc(50px / 2);

    border-radius: calc(200px / 2);
    -webkit-border-radius: calc(200px / 2);
    -moz-border-radius: calc(200px / 2);
}

.shadow {
    width: calc(350px / 2);
    position: absolute; bottom: -10px; 
    background: #000;

    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.cloud-one {
    top: 22%; left: 40%;
}

.cloud-two {
    top: 19%; left: 80%;
}

.avion {
    width: 10vw;
    height: 10vh;
    position: absolute;
    left: -20%;
    bottom: 70%;
    z-index: 2;
    transform: rotate(15deg);
}

.parapente {
    position: absolute;
    width: 6vw;
    left: 50vw;
    top: 17vh;
}

/*----THUNDER----*/

.thunder {
    position: absolute;
    right: 0;
    top: -30px;
}