html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'calibri', sans-serif;
    
}

/*taille li*/

p, li {
	font-size: 1.4em;
	text-decoration: none;
	color: grey; 
}

.menu {
    text-align: center;
    vertical-align: baseline;
    margin-top: 8px;
    font-weight: 700;
}

.menu li {
    display: inline;
    color: #005EB8;
    font-size: 2vw;
}

.menu li a:hover {
    color: #00A3E0;
}

a {
    text-decoration: none;
    color: inherit;
}

#start #logo {
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#start .firstTime {
	display: none;
}

h1 {
	position: relative;
	bottom: -20%;
	color: #00A3E0;
	font-size: 4vw;
	text-align: center;
}

#start #godown {
	position: absolute;
	left: 50%;
	margin-left: -185px;
	bottom: 3%;
}

#start .img-godown {
	position: relative;
	width: 20%;
	transform: rotate(-90deg);
	opacity: 0.5;
}

.menu #logo {
    position: absolute;
    left: 2%;
    top: 0;
    bottom: 0;
    width: 11%;
    margin-top: auto;
    margin-bottom: auto;
}

#zero #ensemble {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 12%;
}

.role {
    float: right;
    margin-right: 3%;
    margin-left: -12%;
}

header {
    height: 10%;
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    color: #000;
    z-index: 6;
    position: absolute;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
}

.fp-controlArrow.fp-prev {
    left: 15px;
    border: none;
    width: 80px;
    height: 80px;
    background: url(../img/left-arrow23.svg) no-repeat;
    background-size: 80px 80px;
    opacity: 0.2;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border: none;
    width: 80px;
    height: 80px;
    background: url(../img/left-arrow23.svg) no-repeat;
    background-size: 80px 80px;
    opacity: 0.2;
    transform: rotate(180deg);
}

.content {
    height: 100%;
    width: 100%;
	background: -webkit-linear-gradient(top ,#87CEEB, #E0FFFF , #FFFACD);
	background: -moz-linear-gradient(top ,#87CEEB, #E0FFFF , #FFFACD);
	background: linear-gradient(top ,#87CEEB, #E0FFFF , #FFFACD);
    position: relative;
    overflow: hidden;
}

/*slider role erdf 5*/
.content_blanc{
    height: 100%;
    width: 100%;
    background: white;
    position: relative;
    z-index: -3;
    overflow: hidden;
}

.article_erdf {
	position: absolute;
    z-index: 1;
    margin: 15%;
    height: 80%;
    width: 100%;
    border-color: blue;
    border-width: 3rem;
}


/*fin 5*/


/* Arrow Effect */
@-webkit-keyframes swing
{
    50%
    {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes swing
{
    50%
    {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}
