/* Modal */
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 70%;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(188, 188, 188, 0.8);
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Modal Content styles */
/* Bleu */
.md-content {
	height: 100%;
	color: rgba(0, 0, 0, 0.7);
	background: #005EB8;
	position: relative;
	border: 10px solid #005EB8;
	margin: 0 auto; 
}

.md-content:after {
	content: '';
	display: block;  
	position: absolute;
	left: 50%;
	top: 100%;
	width: 0;
	height: 0;
	border-bottom: 40px solid transparent;
	border-top: 40px solid #005EB8;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	margin-left: -40px;
}

.risk .md-content {
    background-color: #e03e52;
	border: 10px solid #e03e52;
}

.risk .md-content:after {
	border-top: 40px solid #e03e52;
}

/* Vert */
.md-green {
	border: 10px solid #CCE821;
	background: #CCE821;
}

.md-green:after {
	content: '';
	display: block;  
	position: absolute;
	left: 50%;
	top: 100%;
	width: 0;
	height: 0;
	border-bottom: 40px solid transparent;
	border-top: 40px solid #CCE821;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	margin-left: -40px;
}

.md-content h2{
    color: white;
    font-size: 2.5em;
    font-weight: lighter;
}

.md-content h3 {
	margin-top: 2rem;
	color: white;
	text-align: left;
	font-size: 2rem;
	opacity: 0.8;
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	margin: 5rem;
	margin-top: 2rem;
	font-weight: 300;
	font-size: 2rem;
}

.complet {
	width: 100%;
	height: 100%;
}

.col {
	display: inline-block;
	width: 50%;
	height: 60%;
	float: left;
	margin-top: 5%;
}

.col-right {
	float: right;
	width: 40%;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
	font-size: 1.4rem;
	color: white;
}

.md-content > div ul li {
	font-size: 1.4rem;
	color: white;
}

.md-content > div ul li ~ li {
	margin-top: 30px;
}

#modal-1 .md-content > div ul {
	margin-top: 50px;
	line-height: 4rem;
}

#modal-1 .md-content > div ul li {
	font-size: 1.4rem;
	color: white;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 1.4rem;
}

/* Blur Effect and scale up */
.md-effect-16 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.md-show.md-effect-16 ~ .md-overlay {
	background: rgba(154, 154, 154, 0.5);
}

.md-show.md-effect-16 ~ #fullpage {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

.md-show.md-effect-16 ~ #fullpage,
.md-effect-16 .md-content {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Boutton X pour fermer les modals */
.x {
	position: absolute;
	cursor:pointer;
    right: 5%;
    top: -2%;
}

.square {
  width: 40px;
  height: 40px;
  position: absolute;
}

.cross {
  height: 50px;
  width: 2px;
  background-color: black;
  position: relative;
  left: 50%;
  top: -12%;
  transform: rotate(45deg);
}

.cross:after {
  height: 50px;
  width: 2px;
  content: '';
  background-color: inherit;
  position: absolute;
  transform: rotate(-90deg);
}


/*modal objects====================================================*/

/*arrow presentation*/
.center {
	margin-left: 45%;
}

.presentation_l {
	height: 5vh;
	opacity: 0.3;
}

.presentation_r {
	height: 5vh;
	opacity: 0.3;
}

/*img modals*/

#modal- img {
	width: 100%;
}

#modal-3 img {
	width: 80%;
}

#modal-4 img {
	width: 100%;
}

#modal-5 img {
	width: 100%;
}

#modal-6 img {
	width: 100%;
}

#modal-7 img {
	height: 100%;
}

#modal-8 img {
	height: 100%;
}



#modal-9 img {
	width: 80%;
}
#modal-10 img {
	width: 80%;
}
#modal-12 img {
	position: relative;
	top: -15%;
	width: 80%;
}

#modal-26 img {
	width: 80%;
}

.col img {
    border: 1px solid black;
}