
/*SOMMAIRE

1/sol

2/element DECO

3/element production

4/element transport

*/


/* sol ========================================================================================================*/

.sol {
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100%;
    background: -webkit-linear-gradient(top, lightgreen, #48A20F, green);
    background: -moz-linear-gradient(top, lightgreen, #48A20F, green);
    background: linear-gradient(top, lightgreen, #48A20F, green);
    z-index: 10;
} 

.sol-shape { 
    position: absolute; 
    width: 100%; 
    height: 23%; 
    margin: 20px 0; 
    background: #48A23F; 
    border-radius: 10% / 5%; 
    color: white; 
    text-align: center; 
    text-indent: .1em;
    bottom: 0;
    overflow: hidden;
    display: none;
} 

.sol-shape:before { 
    content: ''; 
    position: absolute; 
    top: 10%; 
    bottom: 10%; 
    right: -5%; 
    left: -5%; 
    background: inherit; 
    border-radius: 5% / 50%;
}

.upanim {
    animation: all 2s ease;
    opacity: 0;
}

@keyframes upanim
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}






/* elements DECO======================================================================================*/

.car {
    position: absolute;
    width: 5vw;
    height: 5vh;
    bottom: 25.4vh;
    z-index: 9;
    left: -10%;
}

.car2 {
    left: 10%;
}

.voiture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.roue {
    position: absolute;
    bottom: -7%;
    z-index: 1;
    width: 40%;
    height: 40%;
}

.roue1 {
    left: 2%;
}

.roue2 {
    left: 60%;
}


/*elements production===========================================================================================*/

.centrale {
    position: absolute;
    width: 17vw;
    bottom: 24.9vh;
    left: 28vw;
    z-index: 10;
    }

.centrale_a_gaz {
    position: absolute;
    width: 11vw;
    bottom: 24.9vh;
    left: 78vw;
    z-index: 5;
}

.centrale_eau {
    position: absolute;
    width: 29vw;
    bottom: 24.9vh;
    z-index: 1;
    left: 0vw;
}

.centrale_geo {
    position: absolute;
    bottom: 24.9vh;
    z-index: 1;
    width: 31vw;
    left: 49vw;
}

.biomasse {
    position: absolute;
    width: 13vw;
    bottom: 24.9vh;
    right: 23vw;
    z-index: 1;
}

.transfo {
    position: absolute;
    width: 20vw;
    bottom: 24.9vh;
    right: 0vw;
    z-index: 1;
}

.animated {
    cursor: pointer;
}

/* eolienne-css------------------ */

.eolienne {
    width: 50px;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 8vh;
    z-index: 10;
}

.mat {
    height: 20vh;
    width: 8px;
    background: -webkit-linear-gradient(left, #fff, #CFCECE);
    background: -moz-linear-gradient(left, #fff, #CFCECE);
    background: -ms-linear-gradient(left, #fff, #CFCECE);
    background: -o-linear-gradient(left, #fff, #CFCECE);
    background: linear-gradient(left, #fff, #CFCECE);
    bottom: 24.5vh;
    position: absolute;
    left: 50vw;
    border: 1px solid grey;
    z-index: 8;
}

.mat:before {
    width: 16px;
    height: 16px;
    background-color: #D2D2D2;
    border-radius: calc(16px / 2);
    content: '';
    position: absolute;
    top: -10px;
    left: -4px;
    border: 1px solid grey;
}

.rotor {
    width: 80px;
    height: 8px;
    border-radius: 40px / 4px;
    background-color: #e2e2e2;
    left: 50.5vw; bottom: 44.4vh;
    position: absolute;
    transform-origin: center left;
    border: 1px solid grey;
}

.rotor:before {

    width: 80px;
    height: 8px;

    border-radius: 40px / 4px;
    background-color: inherit;
    content: '';

    position: absolute;

    transform: rotate(240deg);
    transform-origin: center left;
    border: 1px solid grey;
}

.rotor:after {

    width: 80px;
    height: 8px;

    content: '';
    border-radius: 40px / 4px;
    background-color: inherit;

    position: absolute;
    transform: rotate(120deg);
    transform-origin: center left;
    border: 1px solid grey;
}

.mat-2 {
    left: 55vw;
    z-index: 10;
}

.rotor-2 {
    left: 55.5vw;
    z-index: 8;
}

.eolienne-3 {
    left: 5%;
    bottom: 9.4%;
    width: 10px;
    height: 3vh;
}

.mat-3 {
    height: 5vh;
    width: 2px;
}

.mat-3:before {
    width: 4px;
    height: 4px;
    top: -4px;
    left: -2px;
}

.rotor-3 {
    width: 20px;
    height: 2px;
    left: 50.17vw;
    bottom: 29.6vh;
}

.rotor-3:before {
    width: 20px;
    height: 2px;
}

.rotor-3:after {
    width: 20px;
    height: 2px;
}

.eolienne-4 {
    left: 2.5%;
    bottom: 8.5%;
}

.eolienne-5 {
    left: 0;
    bottom: 7.8%;
}

.eolienne-6 {
    left: -3%;
    bottom: 6.3%;
}

.eolienne-7 {
    left: -6%;
    bottom: 8%;
}




/*elements transport=======================================================================================-*/
.background_2 {
    width: 100vw;
    position: absolute;
    bottom: 24.9vh;
    left: 0vw;
    z-index: 1;
}

.spirales {
    position: absolute;
    width: 24vw;
    height: 13vw;
    bottom: 45vh;
    left: 35vw;
    z-index: 2;
}

.question-spirale {
    position: absolute;
    height: 3vw;
    top: 32%;
    left: 55%;
    opacity: 0;
}

.htTransport {
    position: absolute;
    width: 15vw;
    height: 24vw;
    bottom: 25vh;
    left: 60vw;
    z-index: 2;
}

.question-htTransport {
    position: absolute;
    height: 3vw;
    top: 28%;
    left: 75%;
    opacity: 0;
}

/*elements distribution=======================================================================================-*/

.background_3 {
    position: absolute;
    bottom: 24.6vh;
    left: 0vw;
    z-index: 12;
    width: 26.5vw;
}

.pelleteuse {
    position: absolute;
    width: 13vw;
    bottom: 24.8vh;
    left: 31vw;
    z-index: 13;
}

.poteau_MT {
    position: absolute;
    height: 30vh;
    bottom: 24.2vh;
    left: 30vw;
    z-index: 3;
}

.poteau_MT2 {
    position: absolute;
    height: 30vh;
    bottom: 24.2vh;
    left: 70vw;
    z-index: 3;
}



.lac {
    position: absolute;
    height: 12vh;
    bottom: 17vh;
    left: 47vw;
    z-index: 11;
}

.fisherman {
    position: absolute;
    height: 68px;
    width: 39px;
    bottom: 23.9vh;
    left: 72vw;
    z-index: 13;
}

.pecheu {
    height: 60px;
    position: absolute;
}

.canne {
    height: 100px;
    position: relative;
    left: -60%;
    top: -90%;
    transform-origin: 97% 87%;
}

.fish {
    position: absolute;
    height: 1.4vh;
    bottom: 21vh;
    left: 52vw;
    z-index: 12;
}

.distrib1 {
    position: absolute;
    height: 45vh;
    bottom: 8.6vh;
    right: 0;
    z-index: 11;
}

.distrib1md {
    position: absolute;
    width: 50vw;
    height: 10vw;
    bottom: 40vh;
    left: 30vw;
    z-index: 12;
}

.question-distrib1md {
    position: absolute;
    height: 3vw;
    top: 28%;
    right: 0;
    opacity: 0;
}


/*elements fourniture=======================================================================================-*/

.bonhomme {
    position: absolute;
    bottom: 25vh;
    left: 65vw;
    z-index: 12;
    height: 6vh;
}

.nacelle {
    position: absolute;
    width: 3.3vw;
    bottom: 25vh;
    left: 11.6vw;
    z-index: 12;
}

.pelleteuse2 {
    position: absolute;
    width: 10vw;
    bottom: 25vh;
    left: 25vw;
    z-index: 12;
}

.maison {
    position: absolute;
    height: 18vh;
    bottom: 24.2vh;
    left: 70vw;
    z-index: 3;
}

.immeuble_erdf {
    position: absolute;
    height: 55vh;
    bottom: 24.2vh;
    right: 5vw;
    z-index: 2;
}

.distrib2 {
    position: absolute;
    height: 45vh;
    left: 0;
    bottom: 8.6vh;
    z-index: 11;
}

.animPulse {
    cursor: pointer;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
}


/*-------FONDS--------*/


.fond {
    width: 101vw;
    position: absolute;
    bottom: 24.9vh;
    z-index: 0;
}

/*----------------ARBRES-----------------*/

.tree {
    position: absolute;
    bottom: 20vh;
    left: 10vw;
    z-index: 9;
    height: 15vh;
}

.tree2 {
    left: 40vw;
}

.tree3 {
    left: 50vw;
}

.othertree {
    position: absolute;
    bottom: 20vh;
    left: 10vw;
    z-index: 9;
    height: 15vh;
}

.othertree1 {
    left: 45vw;
}

.othertree2 {
    left: 90vw;
}

.bonzai {
    position: absolute;
    bottom: 25vh;
    left: 82vw;
    z-index: 9;
    height: 15vh;
}