
/*SOMMAIRE

1/sol

2/element DECO

3/element production

4/element transport

*/


/* sol ========================================================================================================*/

.sol {
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100%;
    background: -webkit-linear-gradient(top, lightgreen, #48A20F, green);
    background: -moz-linear-gradient(top, lightgreen, #48A20F, green);
    background: linear-gradient(top, lightgreen, #48A20F, green);
    z-index: 10;
} 

.sol-shape { 
    position: absolute; 
    width: 100%; 
    height: 23%; 
    margin: 20px 0; 
    background: #48A23F; 
    border-radius: 10% / 5%; 
    color: white; 
    text-align: center; 
    text-indent: .1em;
    bottom: 0;
    overflow: hidden;
    display: none;
} 

.sol-shape:before { 
    content: ''; 
    position: absolute; 
    top: 10%; 
    bottom: 10%; 
    right: -5%; 
    left: -5%; 
    background: inherit; 
    border-radius: 5% / 50%;
}

.upanim {
    animation: all 2s ease;
    opacity: 0;
}

@keyframes upanim
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}






/* elements DECO======================================================================================*/

.arbre {

    width: 4%;
    height: 50%;

    bottom: 0;
    left: 47%;
    position: absolute;
    z-index: 1;
}

.tronc {

    width: 13%;
    height: 35%;
    bottom: 24.5%;
    left: 24px;
    position: absolute;

    background: linear-gradient(to left, #993200, #914902);
    background: -moz-linear-gradient(left, #993200, #914902);
}

.tronc:before {

    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);

    top: -8px;
    left: -5px;
    position: absolute;
    content: '';

    background-color: #029112;
}

.feuilles {

    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);

    bottom: 58%;
    left: 24px;
    position: absolute;
    content: '';

    background-color: #029112;
    z-index: 6;
}

.feuilles:before {

    width: 14px;
    height: 14px;
    border-radius: calc(14px / 2);

    left: -8px;
    bottom: 2px;
    position: absolute;
    content: '';

    background-color: inherit;
}

.feuilles:after {

    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);

    bottom: 4px;
    left: -1px;
    position: absolute;
    content: '';

    background-color: inherit;
}
/*elements production===========================================================================================*/
.centrale {
    position: absolute;
    width: 17vw;
    bottom: 24.9vh;
    left: 28vw;
    z-index: 1;
    }

.centrale_a_gaz {
    position: absolute;
    width: 11vw;
    bottom: 24.9vh;
    left: 78vw;
    z-index: 1;
}

.centrale_eau {
    position: absolute;
    width: 29vw;
    bottom: 24.9vh;
    z-index: 0;
    left: 0vw;
}

.centrale_geo {
    position: absolute;
    bottom: 24.9vh;
    z-index: 0;
    width: 31vw;
    left: 49vw;
}

.transfo {
    position: absolute;
    width: 11.3vw;
    bottom: 24.9vh;
    right: 0vw;
    z-index: 0;
}

/* eolienne-css------------------ */

.eolienne {
    width: 50px;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 8vh;
    z-index: 10;
}

.mat {
    height: 20vh;
    width: 8px;
    background: -moz-linear-gradient(left, #fff, #CFCECE);
    bottom: 24.5vh;
    position: absolute;
    left: 50vw;
    border: 1px solid grey;
    z-index: 5;

}

.animated {
    cursor: pointer;
}

.mat:before {
    width: 16px;
    height: 16px;
    background-color: #D2D2D2;
    border-radius: calc(16px / 2);
    content: '';
    position: absolute;
    top: -10px;
    left: -4px;
    border: 1px solid grey;
}

.rotor {
    width: 80px;
    height: 8px;
    border-radius: 40px / 4px;
    background-color: #e2e2e2;
    left: 50.3vw; bottom: 44.4vh;
    position: absolute;
    transform-origin: center left;
    border: 1px solid grey;
}

.rotor:before {

    width: 80px;
    height: 8px;

    border-radius: 40px / 4px;
    background-color: inherit;
    content: '';

    position: absolute;

    transform: rotate(240deg);
    transform-origin: center left;
    border: 1px solid grey;
}

.rotor:after {

    width: 80px;
    height: 8px;

    content: '';
    border-radius: 40px / 4px;
    background-color: inherit;

    position: absolute;
    transform: rotate(120deg);
    transform-origin: center left;
    border: 1px solid grey;
}

.heoliene-2, {
    left: 15vw;
    z-index: 10;
}

.mat-2 {
    left: 55vw;
    z-index: 10;
}

.rotor-2 {
    left: 55.3vw;
    z-index: 8;
}


/*elements transport=======================================================================================-*/
.background_2 {
    width: 100vw;
    position: absolute;
    bottom: 24.9vh;
    left: 0vw;
}

/*elements distribution=======================================================================================-*/

.background_3 {
    position: absolute;
    bottom: 24.2vh;
    left: -47vw;
    z-index: 3;
    width: 26.5vw;
}

.poteau_MT {
    position: absolute;
    height: 30vh;
    bottom: 24.2vh;
    left: -10vw;
    z-index: 3;
}

.poteau_MT2 {
    position: absolute;
    height: 30vh;
    bottom: 24.2vh;
    left: 20vw;
    z-index: 3;
}


/*elements fourniture=======================================================================================-*/

.poteau_BT_transfo {
    position: absolute;
    height:20vh;
    bottom: 24.2vh;
    left: -2vw;
    z-index: 3;
}
.poteau_BT {
    position: absolute;
    height: 15vh;
    bottom: 24.2vh;
    left: 15vw;
    z-index: 3;
}

.coffret {
    position: absolute;
    height: 8vh;
    bottom: 24.2vh;
    left: 25vw;
    z-index: 3;
}

.maison {
    position: absolute;
    height: 20vh;
    bottom: 24.2vh;
    left: 32vw;
    z-index: 3;
}

.immeuble_erdf {
    position: absolute;
    height: 40vh;
    bottom: 24.2vh;
    left: 40vw;
    z-index: 2;
}

.animPulse {
    cursor: pointer;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
}