html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'calibri', sans-serif;
    
}

/*taille li*/

p, li {
	font-size: 1.4em;
	text-decoration: none;
	color: grey; 
}




.menu {
    text-align: center;
    vertical-align: baseline;
    margin-top: 8px;
    font-weight: 700;
}

.menu li {
    display: inline;
    color: #005EB8;
    font-size: 2vw;
}

.menu li a:hover {
    color: #00A3E0;
}

a {
    text-decoration: none;
    color: inherit;
}

#start #logo {
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#start {
	position: relative;
	text-align: center;
}

#start .firstTime {
	display: none;
}

#start h1 {
	display: inline;
	position: relative;
	bottom: -20%;
	color: #00A3E0;
	font-size: 4vw;
}

#start #godown {
	position: absolute;
	left: 50%;
	margin-left: -185px;
	bottom: 3%;
}

#start .img-godown {
	position: relative;
	width: 20%;
	transform: rotate(-90deg);
	opacity: 0.5;
}

.menu #logo {
    position: absolute;
    left: 2%;
    top: 0;
    bottom: 0;
    width: 11%;
    margin-top: auto;
    margin-bottom: auto;
}

.role {
    float: right;
    margin-right: 3%;
    margin-left: -12%
}

header {
    height: 10%;
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    color: #000;
    z-index: 3;
    position: absolute;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
}

.content {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(top , #90E2FB, #90E2FB, #00bdf5);
	background: -moz-linear-gradient(top , #90E2FB, #90E2FB, #00bdf5);
	background: linear-gradient(top , #90E2FB, #90E2FB, #00bdf5);
    position: relative;
    z-index: -3;
    overflow: hidden;
}


.fp-slides {
    z-index: -2;
}

/*slider role erdf 5*/
.content_blanc{
    height: 100%;
    width: 100%;
    background: white;
    position: relative;
    z-index: -3;
    overflow: hidden;
}

.article_erdf {
	position: absolute;
    z-index: 1;
    margin: 15%;
    height: 80%;
    max-height: 500px;
    width: 80%;
    overflow: scroll;
}


/*fin 5*/

/* Arrow Effect */
@-webkit-keyframes swing
{
    50%
    {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes swing
{
    50%
    {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}