html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'calibri', sans-serif;
    font-weight: 700;
}

.menu {
    text-align: center;
}

.menu li {
    display: inline;
    color: #005EB8;
    font-size: 2rem;
}

.menu li a:hover {
    color: #00A3E0;
}

a {
    text-decoration: none;
    color: inherit;
}

#start #logo {
    display: block;
    position: absolute;
    top: 20%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}

.menu #logo {
    position: absolute;
    left: 2%;
    top: 0;
    bottom: 0;
    width: 8%;
    margin-top: auto;
    margin-bottom: auto;
}

.role {
    float: right;
    margin-right: 3%;
}

header {
    height: 10%;
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    color: #000;
    z-index: 3;
    position: absolute;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
}

.content {
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top , #90E2FB, #90E2FB, #00bdf5);
    position: relative;
    z-index: -10;
    overflow: hidden;
}

.fp-slides {
    z-index: -9;
}
