/* ---- SOL ----*/

.sol {
    position: absolute;
    /* mettre en inline pour avoir les elements qui se posent deçu...*/
    bottom: 0;
    height: 25vh;
    width: 100%;
    background: -webkit-linear-gradient(top, lightgreen, #48A20F, green);
    background: -moz-linear-gradient(top, lightgreen, #48A20F, green);
    background: linear-gradient(top, lightgreen, #48A20F, green);
    z-index: 2;
}                                  /*mettre vert +clair ici : test (center top , lightgreen, #48A20F, green);*/       /*mettre vert foncé*/

.sol-shape { 
    position: absolute; 
    width: 100%; 
    height: 23%; 
    margin: 20px 0; 
    background: #48A23F; 
    border-radius: 10% / 5%; 
    color: white; 
    text-align: center; 
    text-indent: .1em;
    bottom: 0;
    overflow: hidden;
    display: none;
} 

.sol-shape:before { 
    content: ''; 
    position: absolute; 
    top: 10%; 
    bottom: 10%; 
    right: -5%; 
    left: -5%; 
    background: inherit; 
    border-radius: 5% / 50%;
} 

/* ---- EOLIENNE ---------------------------------------------------------------------------------------- */

.heoliene {
    width: 50px;
    height: 10vh;
    position: absolute;
    bottom: 23vh;
    left: 9vh;
}

.mat {
    height: 20vh;
    width: 8px;
    background-color: white;
    bottom: 24.5vh;
    position: absolute;
    left: 50vw;

}

.mat:before {
    width: 16px;
    height: 16px;
    background-color: lightgrey;
    border-radius: calc(16px / 2);
    content: '';
    position: absolute;
    top: -10px;
    left: -4px;
}

.rotor {
    width: 80px;
    height: 8px;
    border-radius: 40px / 4px;
    background-color: white;
    left: 50.3vw; bottom: 44.4vh;
    position: absolute;
    transform-origin: center left;
}

.rotor:before {

    width: 80px;
    height: 8px;

    border-radius: 40px / 4px;
    background-color: inherit;
    content: '';

    position: absolute;

    transform: rotate(240deg);
    transform-origin: center left;
}

.rotor:after {

    width: 80px;
    height: 8px;

    content: '';
    border-radius: 40px / 4px;
    background-color: inherit;

    position: absolute;
    transform: rotate(120deg);
    transform-origin: center left;
}

.heoliene-2, {
    left: 15vw;
}

.mat-2 {
    left: 55vw;
}

.rotor-2 {
    left: 55.3vw;
}


/* ---- ARBRE ----*/

.arbre {

    width: 4%;
    height: 50%;

    bottom: 0;
    left: 47%;
    position: absolute;
    z-index: 1;
}

.tronc {

    width: 13%;
    height: 35%;
    bottom: 24.5%;
    left: 24px;
    position: absolute;

    background: linear-gradient(to left, #993200, #914902);
    background: -moz-linear-gradient(left, #993200, #914902);
}

.tronc:before {

    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);

    top: -8px;
    left: -5px;
    position: absolute;
    content: '';

    background-color: #029112;
}

.feuilles {

    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);

    bottom: 58%;
    left: 24px;
    position: absolute;
    content: '';

    background-color: #029112;
    z-index: 4;
}

.feuilles:before {

    width: 14px;
    height: 14px;
    border-radius: calc(14px / 2);

    left: -8px;
    bottom: 2px;
    position: absolute;
    content: '';

    background-color: inherit;
}

.feuilles:after {

    width: 15px;
    height: 15px;
    border-radius: calc(15px / 2);

    bottom: 4px;
    left: -1px;
    position: absolute;
    content: '';

    background-color: inherit;
}



/*elements--------------------------------------------------------------*/

.centrale {
    position: absolute;
    height: 19vh;
    bottom: 24.5vh;
    left: 10vw;
    z-index: 3;
}

.centrale_a_charbon{
    position: absolute;
    height: 15vh;
    bottom: 24.6vh;
    left: 70vw;
    z-index: 3;
}

.gro-poteau {
    width: 400px;
    height: 400px;
    
    position: absolute;
    bottom: 19.5%;
    left: 50%;
    
    background-image: url(img/poteaux_mega_gros.svg);
    background-position: center center;
    background-size: cover;
}

.gro-poteau-2 {
    left: -5%;
}

.fil {
    width: 1660px;
    height: 50px;
    
    position: absolute;
    bottom: 46%;
    left: -32.5%;
    
    background-image: url(img/fils.svg);
    background-position: center center;
    background-size: cover;
}
