#test-side {
    height: 20rem;
    width: 20rem;
    margin: 50px;
    background-color: chartreuse;
}

.test-anim {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 60%;
    left: 5%;
    background-color: #005EB8;
    transition: all 1s ease-out;
}

.test-anim.expanded {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 6%;
    margin: auto;
}

p {
    text-align: center;
    font-size: 3rem;
    visibility: hidden;
}

html {
    font-size: 62.5%;
}

* a, * a:hover, * a:active, * a:visited {
    text-decoration: none;
}

.slide, .section {
    position: relative;
}

#start {
    background: linear-gradient(to bottom, #fff, #fff, #88defb);
}

#start #logo {
    display: block;
    position: absolute;
    top: 5%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}

#un {
    background-color: #88defb;
}

#deux {
    background-color: blue;
}

#trois {
    background-color: coral;
}

#quatre {
    background-color: forestgreen;
}

#menu {
    text-align: center;
}

#menu li {
    display: inline-block;
    font-size: 2.6rem;
    padding: 1rem 1rem 1rem 1rem;
}

#menu li a:hover {
    color: #00A3E0;
}

#menu li a {
    text-transform: uppercase;
    color: #005EB8;
}

header {
    height: 7rem;
    width: 100%;
    font-family: calibri;
    background-color: #ffffff;
    padding-top: 0.5rem;
    z-index: 3;
}